In [1]:
import pandas as pd

In [2]:
base_original = pd.read_parquet('../data/processed/base_casa.parquet')

In [3]:
base_original.head()

,tipo_imovel,nome,preco,metragem,quarto,banheiro,garagem,ID_CASA,bairro_teste
0,Apartamento,"Apartamento com 2 Quartos à Venda, 65m²",310000.0,65,2,2,1,2699716579,Jardim Botânico
2,Apartamento,"Apartamento com 2 Quartos à Venda, 71m²",403500.0,71,2,2,2,2690493538,Bonfim Paulista
3,Apartamento,"Apartamento com 2 Quartos à Venda, 54m²",290000.0,54,2,2,1,2667652105,Nova Aliança
4,Apartamento,"Apartamento com 2 Quartos à Venda, 45m²",166420.0,45,2,1,1,2682840782,Conjunto Habitacional Jardim Das Palmeiras
5,Apartamento,"Apartamento com 2 Quartos à Venda, 64m²",370000.0,64,2,2,2,2688027260,Vila Ana Maria

In [4]:
base_original.duplicated().any()

True

In [6]:
base_original.shape

(19936, 9)

In [9]:
base_original.drop_duplicates(inplace=True)

In [10]:
base_original.shape

(15390, 9)

In [12]:
base_original.describe()

              preco       ID_CASA
count  1.539000e+04  1.539000e+04
mean   4.884759e+05  2.632613e+09
std    4.484196e+05  8.537776e+07
min    6.104500e+04  5.447240e+07
25%    2.500000e+05  2.599527e+09
50%    3.600000e+05  2.650358e+09
75%    5.600000e+05  2.672362e+09
max    8.000000e+06  2.700625e+09